body { 
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #74c3fa;
  background: url("images/winterBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
	color: white;
	font-size: 2em;
	margin: 0px;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
}

p#time {
	color: white;
	font-size: 2.5em;
}

p#tempText, p#windText {
  color: white;
  font-size:4em;
}

img {
  display: inline;
  margin: auto;
  padding: 3px 0;
  width: 65px;
}

.inline {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
}

.contentLeft {
  position: relative;
  width: 90%;
  margin: auto;
  text-align: left;
  background: rgba(0,0,0,0.6);
}

.topLeft {
  display: inline-block;
  position: relative;
  margin-left: 5%;
  width: 45%;
  height: 170px;
}

.topRight {
  display: inline-block;
  position: relative;
  width: 45%;
  height: 170px;
}
 
.bottom {
  margin-top: 30px;
}

h1, h2, h3{
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: white;
}

#display {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 20px 0px 20px 0px;
  top: 0px;
  bottom: 0px;
}

table#buttons {
  cellpadding: 0;
  cellspacing: 0;
  margin: 0 auto;
}

#page {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: auto;
}

.recordText {
  font-size: 1.5em;
  padding-left: 10px;
}

#chartcontainer {
  padding-top: 10px;
  margin: auto;
}

.content {
  text-align: center;
  background: rgba(0,0,0,0.6);
}

.margin5 {
  margin: 0% 5% 0% 5%;
}

.sunrise {
  vertical-align: top;
}

.panel {
  vertical-align: top;
  border-radius: 5px;
}

.header {
  position: relative;
  height: 25px;
  width: 90%;
  top: 0px;
  margin: auto;
  padding: 0px 0px 0px 0px;
  
  background: rgba(0, 11, 38, 0.8);
}

.Row1 {
  height: 40%;
}

.Col1 {
	padding:0px 0px 0px 0px;
	margin:0px;
	width: 30%;
	bottom: 20px;
}

.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2d2d5a), color-stop(1, #000000) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #000000;
	display:inline-block;
	color:#cccccc;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	/* text-shadow:1px 1px 0px #ffffff; */
}
.button:hover {
	background: #2d2d5a;
}
.button:active {
	position:relative;
	top:1px;
}

.td_left {
	width: 85px;
}

div {
  vertical-align: middle;
}

.alignleft {
	position: absolute;
	left: 0;
}

.alignright {
	position: absolute;
	right: 0;
}


* {
	/* border: 1px dotted red; */
}

